# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db
/Framework/.vs/Framework/v15
/Framework/Debug
/Framework/x64/Debug
/.vs/Framework/v15
/x64/Debug
/GraphPrint/x64/Debug
/Debug
/GraphPrint/Debug
/Output
/GraphPrint/Output
/Framework/Output
/.vs/Framework/v16
/.vs/WINAPI-Framework/v16
/Framework/Int/Debug
/Framework/.vs/Framework/v16
